- if @tweet.errors.any?
  %ul.errors
    - @tweet.errors.full_messages.each do |msg|
      %li= msg
.container
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h2 Compose new Tweet
      .panel-body
        = form_for @tweet do |f|
          = f.text_area :tweet_body, size: "50x5", placeholder: "What's happening?"
          %br
          = f.submit 'Post Tweet', class: 'btn btn-primary pull-right'