.jumbotron
  .container
    %h2
      Thanks for checking out <span style="color:#6897BD">#MyTwitter</span>, a simple Twitter client
      %br
      made by
      = succeed '.' do
        = link_to 'Peter Ortiz', 'https://github.com/Peterortiz82'
      Click on the Sign in with Twitter button and check it out!


