@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: rgba(245, 245, 245, 0.45);
}

h1 {
	font-family: 'Roboto', sans-serif;
}

.navbar-brand {
	font-size: 1.8em;
	font-weight: 600;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #6897BD;
}

.navbar-default .navbar-brand {
	color: #6897BD;
}

.navbar-default {
	background-color: #FFFFFF;
	border-color: #e7e7e7;
	margin-bottom: 0;
}

.navbar-image {
	margin: 5px;
	border-radius: 6px;
}

.jumbotron {
	height: 100%;
	margin: 0;
	width: auto;
	background: url(http://7-themes.com/data_images/out/26/6858339-twitter-wallpaper.jpg);
	background-size: cover;
}

.jumbotron h2 {
	margin-top: 10%;
	text-align: center;
	color: #fff;
}

.jumbotron a {
	color: #6897BD;
	text-decoration: none;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
}

name {
	font-size: 1.8em;
}

.media-object {
	border-radius: 6px;
}

tweet-text {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
	font-weight: 400;
}

time {
	color: #777777;
}

.panel-default {
	margin-top: 25px;
}

.panel-default > .panel-heading {
	background-color: #FFFFFF;
}

.btn-primary {
	margin-top: 8px;
	color: #fff;
	background-color: #6897BD;
	border-color: rgba(104, 151, 189, 0.57);
}

.btn-primary:hover {
	color: #fff;
	background-color: rgba(104, 151, 189, 0.81);
	border-color: rgba(132, 170, 201, 0.65);
}